.sidebar{
    width:260px;
    height:100vh;
    background:#0f172a;
    color:white;

    display:flex;
    flex-direction:column;

    padding:30px 20px;
}

.logo{
    margin-bottom:50px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{

    padding:14px 16px;

    border-radius:10px;

    cursor:pointer;

    margin-bottom:10px;

    transition:.2s;
}

.sidebar li:hover{

    background:#1e293b;
}

.logout-btn{

    margin-top:auto;

    padding:14px;

    border:none;

    background:#ef4444;

    color:white;

    border-radius:10px;

    cursor:pointer;
}
.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
  }
  
  .sidebar li:hover {
    background: #1e293b;
  }